/* Layout */
body {
    background-color: #ddd;
}

.container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}

main .container-fluid,
footer .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    margin-top: 40px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
}

footer p {
    margin: 0;
}

.navbar-inverse {
    color: #999;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.5);
}

.navbar {
    border-radius: 0;
}
/* End Layout */

/* Misc */
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.panel-primary {
    border-color: #080808;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
}

.panel-primary:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    opacity: 1;
}
.panel-primary > .panel-heading {
    background-color: #222222;
    border-color: #080808;
}
.panel-heading h3 {
    margin: 2px 0 0 0;
}
.panel-heading {
    padding-bottom: 0;
}
.panel-heading .nav-tabs > li > a,
.panel-heading .nav-tabs > li > a:hover,
.panel-heading .nav-tabs > li > a:focus {
    border-bottom-width: 0;
}
.panel .tab-content {
    border: 0;
}

.btn {
    margin-right: 10px;
}
.text-right .btn {
    margin-left: 10px;
    margin-right: 0;
}
.pull-left.btn {
    margin-left: 0;
    margin-right: 10px;
}
.pull-right.btn {
    margin-right: 0;
    margin-left: 10px;
}

.update-form {
    padding: 20px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}
.update-form.standard {
    border-color: #999999;
    background: rgba(0, 0, 0, .075);
}
.update-form.alert-info {
    border-color: #3a87ad;
}

.nav-tabs {
    border-bottom: 0;
    margin: 0;
}

.tab-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

/* End Misc */
.table-container {
    overflow-x: auto;
}
.table {
    margin-bottom: 0;
}

.table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > th {
    background-color: rgba(0,0,0,0.075);
}

.table tbody > tr > th, 
.table tbody > tr > td {
    border: 0;
}

.table > tbody > tr.alert-info:not(.not-owner) th, 
.table > tbody > tr.alert-info:not(.not-owner) td {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
}

.table > tbody > tr.alert-info:not(.not-owner) th, 
.table > tbody > tr.alert-info:not(.not-owner) td,
.table > tbody > tr.next-payment th, 
.table > tbody > tr.next-payment td, 
.table > tbody > tr.alert-success.with-border th, 
.table > tbody > tr.alert-success.with-border td {
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.table > tbody > tr.not-active {
    background-color: #ddd;
    color: #000;
}
.table > tbody > tr.not-active a {
    color: #000;
}

.selectPayees .row,
.selectBills .row,
.selectLoans .row {
    padding: 6px 0;
    border-bottom: 1px solid #cccccc;
}

.selectPayees .form-group {
    margin-bottom: 0;
}

.form-check {
    transition: padding-top .5s ease-in;
}

.form-check.with-dropdown {
    padding-top: 6px;
}