@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>MyFinances</h1>
    <p class="lead">Welcome! Keep track of your finances.</p>
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Bills", "Index", "Bills", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Loans", "Index", "Loans", null, new { @class = "btn btn-success btn-lg" })
        }
        else
        {
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success btn-lg" })
        }
    </p>
</div>
